*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background: #0f0f0f;
  position: fixed;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #1b9bff;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(246, 242, 242);
    
}
 body{
    margin: 0;
    padding: 0;
    
 }
  
  .slider{
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 100%;
    height: 80vh;
    object-fit: initial ;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  #radio4:checked ~ .first{
    margin-left: -60%;
  }
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }

.heading{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    font-family: 'Archivo Narrow', sans-serif ;
    font-weight: 400 
 } 

.gs{
    display: inline-block;
    border: 2px solid red;
    background-color: rgb(207, 172, 146);
    height: 577px;
    width: 576px;
    margin-left: 50px;
    border-radius: 50px;

}
.sp{
    align-items: center;
    justify-content: center;
    padding-left: 27px;
    font-size: xxx-large;
}
.bc{
    margin-left: 50px;
    font-size: xx-large;
}
#infofm{
    text-decoration: none;
    color: #222;
    padding-top: 30px;
    word-break: break-word;
    font-family: 'Teko', sans-serif;
    font-size: 21px;
    font-weight: 600;
}
#infofms{
    text-decoration: none;
    color: #222;
    font-family: 'Archivo Narrow', sans-serif;
    padding-left: 3px;
    word-break: break-word;
    font-size: 12px;
    font-weight: 600;
}
#info{
    background-color: white;
    margin-left: 497px;
    padding-top: 21px;
    padding-left: 18px;
    width: 785px;
    height: 210px;
    display: block;
}

#infoai{
    display: block;
    line-height: 18px;
    font-size: 14px;
    color: #000000;
    word-break: break-word;
    padding-top: 13px;
    margin-bottom: 30px;
}
#tni1{
    width: 800px;
    height: 600px;
    object-fit: cover;
    padding-left: 500px;
    padding-top: 56.18px;
    background-size: cover;
}
#btn{
    padding: 20px 20px;
    margin-left: 650px;
    width: 500px;
    margin-top: 50px;
    font-size: x-large;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}
#btn:hover{
    font-size: xx-large;
    border-color: black;
}
#element{
    display: none;
}
#skyler{
 
    background-image: url(https://dl.dir.freefiremobile.com/common/web_event/hash/e56082fef248993e8dc5eafe554e05f8jpg);
    width: 100%;
    margin-top: 0px;
}
div#chari{
  background-image: url(https://dl.dir.freefiremobile.com/common/web_event/hash/e56082fef248993e8dc5eafe554e05f8jpg);
  margin-top: 100px;
  width: 100%;
  background-size: cover;
}
#title{
  height: 400px;
  padding-top: 113px;
  
}
#title h3{
  padding-left: 755px;
  
  color: 
  #fdac2d;
  font-size: 40px;
  font-family: 'Archivo Narrow', sans-serif;
  display: inline;
}
#abil{
  width: 54px;
  height: 44px;
  padding-left: 20px;
  
}
#title p{
  padding-left: 755px;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
}
#title a{
  display: block;
  width: 240px;
  background: #f80e0e;
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 60px;
  font-weight: bold;
  font-family: 'Archivo Narrow', sans-serif;
  margin-left: 755px;

}

#infoai{
    font-size: large;
}
#infofm{
    font-size: x-large;
}
.g-footer {
  height: auto;
  padding: 20px 0 130px;
  background: #111;
  z-index: 9;
}

.m-foot-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.m-language {
  line-height: 20px;
  padding: 25px 0 14px;
  width: 160px;
  text-align: right;
  float: right;
  margin: 0 auto;
  position: relative;

}
.m-language .earth {
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 20px;
    background: url(https://freefiremobile-a.akamaihd.net/ffwebsite/images/earth.png) 0 -20px no-repeat;
}
.m-language .txt {
    display: inline;
    vertical-align: top;
    height: 20px;
    font-size: 14px;
    color: #888;
    padding: 0 2px;
    max-width: 80px;
}.m-foot-copyright .txt {
  padding-top: 2px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
  line-height: 24px;
  font-size: 12px;
  color: #666666;
  text-align: left;
}
.m-foot-copyright .m-foot-logo {
  display: inline-block;
  vertical-align: top;
  height: 51px;
  width: 51px;
}
#apple {
  margin-top: 90px;
  margin-left: 190px;
}
#ap {
  width: 190px;
}
#button{
  border: 2px solid red;
  background-color: rgb(238, 11, 11);
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
  color: white;
  padding: 10px;
  margin-left: 580px;
  margin-top: 20px;
  text-decoration: none;

}
#button:hover{
  font-size: x-large;
}


