body {
    background-color: rgb(206, 197, 197);
padding: 0;
margin: 0;
}

#submit {
    height: 69px;
    width: 480px;
    border-radius: 15px;
    font-size: x-large;
    background-color: blue;
    border: 2px solid pink;
    margin-left: 650px;
}

#Name {
    height: 30px;
    width: 440px;
    border-radius: 15px;
    font-size: larger;
    padding: 20px;
    margin-left: 650px;
}

#nav {
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 999;
    padding: 0 63px 0 12px;
}

#n1 {
    width: 15px;
    height: 50px;
    position: absolute;
    left: 0px;
    top: 0px;
    background: #fdac2d;
}

#nav_item {
    width: 130px;
    height: 50px;
    position: absolute;
    right: 0px;
    top: 0px;
    background: #ffa619;
}

#nav_item span a {
    width: 22px;
    height: 3px;
    background: #fff;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(255, 255, 255);
    display: block;
    position: absolute;
    left: 19px;
    -webkit-transition: .5s;
    transition: .5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

#main_nav {
    background: rgba(0, 0, 0, 0.8)url(https://freefiremobile-a.akamaihd.net/common/web_event/official/logo-small_20210113.png) 10px 4px no-repeat;
    width: 100%;
    height: 50px;
}

#one {
    top: 16px;
    height: 3px;
    width: 22px;
}

#two {
    top: 24px;
    height: 3px;
    width: 22px;
}

#three {
    top: 32px;
    height: 3px;
    width: 22px;
}
.con{
    height: 150px;
}
.g-footer {
height: auto;
padding: 20px 0 130px;
background: #111;
z-index: 9;
}

.m-foot-wrap {
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
}
.m-language {
line-height: 20px;
padding: 25px 0 14px;
width: 160px;
text-align: right;
float: right;
margin: 0 auto;
position: relative;

}
.m-language .earth {
display: inline-block;
vertical-align: top;
height: 20px;
width: 20px;
background: url(https://freefiremobile-a.akamaihd.net/ffwebsite/images/earth.png) 0 -20px no-repeat;
}
.m-language .txt {
display: inline;
vertical-align: top;
height: 20px;
font-size: 14px;
color: #888;
padding: 0 2px;
max-width: 80px;
}.m-foot-copyright .txt {
padding-top: 2px;
padding-left: 10px;
display: inline-block;
vertical-align: top;
line-height: 24px;
font-size: 12px;
color: #666666;
text-align: left;
}
.m-foot-copyright .m-foot-logo {
display: inline-block;
vertical-align: top;
height: 51px;
width: 51px;
}
#apple {
margin-top: 90px;
margin-left: 190px;
}
#ap {
width: 190px;
}