#image img{
    width: 375px;
    height: 70vh;
} 
#main_content {
    width: 240px;
    height: 211px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 69px;
    margin-top: 40px;
}#main_nav{
    background: rgba(0,0,0,0.8) 10px 4px no-repeat;
    width: 100%;
    height: 50px;
    color: white;
    font-size: xx-large;
    padding-left: 132px;
    padding-top: 1px;
    font-family:cursive, Verdana, Geneva, Tahoma, sans-serif;
}#a3 {
    margin-left: 29px;
}

div a {
    font-size: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    border-radius: 13px;
    color: #000;
}#a4 {
    margin-left: 5px;
}#a2 {
    margin-left: 26px;
}#a1 {
    margin-left: 26px;
}
